<?php

use PhangoApp\PhaRouter\Routes;
use PhangoApp\PhaUtils\Utils;

foreach(Routes::$apps as $admin_module)
{
    
    Utils::load_config('admin/config_admin', $path='vendor/'.$admin_module."/settings");
    
}

?>
