<?php

ModuleAdmin::$arr_modules_admin[]=array('ausers', 'phangoapp/admin', PhangoApp\PhaI18n\I18n::lang('admin', 'ausers', 'Users admin'));

# Multiple admin example

#ModuleAdmin::$arr_modules_admin[]=[ 'alerts', [array('photicket/regions', 'photicket/alerts/regions', PhangoApp\PhaI18n\I18n::lang('photicket', 'regions', 'Regiones') ), array('photicket/alerts_types', 'photicket/alerts/types', 'Tipos de alertas')], PhangoApp\PhaI18n\I18n::lang('photicket', 'config', 'Configuración de alertas')];

?>
