<?php

use PhangoApp\PhaModels\Webmodel;
use PhangoApp\PhaRouter\Routes;
use PhangoApp\PhaView\View;

Routes::$root_url='/';

Routes::$app='phangoapp/welcome';

Routes::$apps=['phangoapp/welcome', 'phangoapp/lang', 'phangoapp/showmedia', 'phangoapp/admin'];

/**
* Configure database. You can configure multiple databases for different models.
*/ 

Webmodel::$host_db['default']='localhost';
	
Webmodel::$db['default']='database_name';

Webmodel::$login_db['default']='root';

Webmodel::$pass_db['default']='';

/**
* Property for define the theme.
* 
*/

View::$folder_env=array('views/default');

View::$theme=basename(View::$folder_env[0]);

/**
* Property for set true the debug of views. If setted, the view is reloaded if have changes. Please, set to false in production.
* 
*/

View::$debug_tpl=true;

/**
* With this method set the media files to production if the argument is true. By default is false.
* @warning Never forget set this method when you are going to production
*/

View::set_production(false);

/**
* Define the admin folder
*/

define('ADMIN_FOLDER', 'admin');

# Define an email

define('SENDER_EMAIL', 'example@example.com');

?>
